.col-md-10.offset-md-1.col-lg-3.offset-lg-0
    .sidebar
        // User Widget
        .widget.user
            // User Image
            .image.d-flex.justify-content-center
                a(href='#')
                    img(src='../' + member.imageFace.image_url, alt='Image')
            // User Name
            h5.text-center= member.first_name + " " + member.last_name
        // Dashboard Links
        .widget.dashboard-links.p-0
            ul
                li
                    a(href='#') Buyer Dashboard
                li
                    a(href='/message')
                        | Message(
                        span#tabNewMessage
                        |)
                li
                    a(href='/member/manage_order')
                        | Order Management
                        span (5)
                li
                    a(href='/member/manage_review')
                        | Review Management
                        span (3)
                li
                    a(href='#') Billing Management
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='../../js/sideBarSeller_KKY.js')
