doctype html
html(lang='en')
  head
    // SITE TITTLE
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Home - Dealsy
    // PLUGINS CSS STYLE
    link(href='../plugins/jquery-ui/jquery-ui.min.css', rel='stylesheet')
    // Bootstrap
    link(href='../plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='../plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // Select 2
    link(href='../plugins/selectbox/select_option1.css', rel='stylesheet')
    // Owl Carousel
    link(href='../plugins/owl-carousel/assets/owl.carousel.min.css', rel='stylesheet', media='screen')
    // Owl Carousel Theme
    link(href='../plugins/owl-carousel/assets/owl.theme.green.min.css', rel='stylesheet', media='screen')
    // Fancy Box
    link(href='../plugins/fancybox/jquery.fancybox.pack.css', rel='stylesheet')
    // Datepicker
    link(href='../plugins/datepicker/datepicker.min.css', rel='stylesheet')
    // CUSTOM CSS
    link(href='../stylesheets/style_HNH.css', rel='stylesheet')
    // FAVICON
    link(href='../img/favicon.png', rel='shortcut icon')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.body-wrapper

    include components/topHeader
    include components/navBar_KSW
    //
      ===============================
      =            Hero Area            =
      ================================
    section.hero-area.bg-1.text-center
      // Container Start
      .container
        .row
          .col-md-12
            // Header Contetnt
            .content-block
              h1 Home Dining Matching Service
              p
                | Opportunity to cook and make money in our kitchen!
                br
                |  Register Now!!
            // Advance Search
            .advance-search
              form(action='#')
                .row
                  // Category List
                  .col-lg-6.col-md-12
                    select#category.select-box.form-control
                      option(selected='', disabled='') Please select a region
                      option CheongJu
                      option Pangyo
                      option Daejeon
                      option Gumi
                  // Store Search
                  .col-lg-6.col-md-12
                    .block.d-flex
                      input#search.form-control.mb-2.mr-sm-2.mb-sm-0(type='text', placeholder='Write Food that you want to eat')
                      // Search Button
                      button.btn.btn-secondary SEARCH
      // Container End
    //
      ===================================
      =            Client Slider            =
      ====================================
    section.clients-slider-wrapper.section.pb-0
      // Container Start
      .container
        .row
          .col-md-12
            // Client Slider
            .clients-slider.owl-carousel.owl-theme
              // Client 01
              - for(var i=0; i<menu.length; i++)
                .item
                  a(href='/menu/'+menu[i]._id)
                    // Slider Image
                    img(src='../'+menu[i].imageMenu[0].image_url, width='100%', height="auto")
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/chicken.gif', alt='store-logo')
              //// Client 02
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/sushi.png', alt='store-logo')
              //// Client 03
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/chicken.gif', alt='store-logo')
              //// Client 04
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/sushi.png', alt='store-logo')
              //// Client 05
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/chicken.gif', alt='store-logo')
              //// Client 06
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/sushi.png', alt='store-logo')
              //// Client 07
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/chicken.gif', alt='store-logo')
              //// Client 08
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/sushi.png', alt='store-logo')
              //// Client 09
              //.item
              //  a(href='#')
              //    // Slider Image
              //    img(src='../img/category-slider/chicken.gif', alt='store-logo')
      // Container End
    //
      ==========================================
      =            All Category Section            =
      ===========================================
    section.deals-categories.section
      // Container Start
      .container
        .row
          .col-12
            // Section title
            .section-title
              h2 All Food Categories
            .row.border-bottom
              // Category list
              .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Korean Food
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Snack Bar
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Fried Food
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Stew
              // /Category List
              // Category list
              .col-lg-3.col-md-5.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Chinese Food
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Meat
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | SeaFood
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Hamburger
              // /Category List
              // Category list
              .col-lg-3.offset-lg-0.col-md-5.offset-md-1.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Japanese Food
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | pork cutlet
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Chicken
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Pizza
              // /Category List
              // Category list
              .col-lg-3.col-md-5.col-sm-6.col-6
                ul.category-list
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | American
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Steak
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Spaghetti
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      | Fried Rice
              // /Category List
      // Container End
    //
      ===========================================
      =            Popular deals section            =
      ============================================
    section.popular-deals.section
      .container
        .row
          .col-md-12
            .section-title
              h2 Today's Menu
        .row
          // offer 01
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/bibimbap.jpg', alt='store-02')
                  // Saving
                  span Korean Food
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | Delicious Bibim-bab And Side Dish
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper More
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') Chungbuk CheongJu
                      span.favorite
                        i.fa.fa-star-o
          // offer 02
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/makchang.jpg', alt='store-02')
                  // Saving
                  span Korean Food
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | It's the best barbecue pole in Daegu.
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper More
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') Daegu
                      span.favorite
                        i.fa.fa-star-o
          // offer 03
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/ganjang.jpg', alt='store-02')
                  // Saving
                  span Korean Food
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | Kim-sumi Soy Crab
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper More
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') Seoul
                      span.favorite
                        i.fa.fa-star-o
          // offer 04
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/ddug.jpg', alt='store-02')
                  // Saving
                  span Snack Bar
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | A delicious gummy Ddeok-Bokki from Mygumi
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper More
                        span.lower(color='white') 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') Gumi
                      span.favorite
                        i.fa.fa-star-o
          // offer 05
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/bbang.jpg', alt='store-02')
                  // Saving
                  span Bakery
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | Better bread than Seong-Sim-Dang
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper More
                        span.lower 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') Daejeon
                      span.favorite
                        i.fa.fa-star-o
          // offer 06
          .col-sm-12.col-lg-6
            // deal card
            .deal-item.bg-light
              .media
                // Image Content
                .img-content.align-self-center
                  a(href='#')
                    // Card Image
                    img(src='img/myen.jpg', alt='store-02')
                  // Saving
                  span Snack Bar
                // Media Body
                .media-body
                  // Card Title
                  h5.mt-0
                    br
                    | Best Of Ice-Noodle In Korea
                  // Deal list
                  ul.list-inline
                    li.list-inline-item
                      a.btn.btn-dual(href='#', data-toggle='modal')
                        span.upper More
                        span.lower 123123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    li.list-inline-item
                      a(href='#') Pyeong Tek
                      span.favorite
                        i.fa.fa-star-o
        .row.text-center
          .col-12
            a.btn.btn-main.mt-30(href='#') More popular menus


    include components/footer_KSW

    // JAVASCRIPTS
    script(src='../plugins/jquery/jquery.min.js')
    script(src='../plugins/jquery-ui/jquery-ui.min.js')
    script(src='../plugins/tether/js/tether.min.js')
    script(src='../plugins/raty/jquery.raty-fa.js')
    script(src='../plugins/bootstrap/js/bootstrap.min.js')
    script(src='../plugins/selectbox/jquery.selectbox-0.1.3.min.js')
    script(src='../plugins/owl-carousel/owl.carousel.min.js')
    script(src='../plugins/fancybox/jquery.fancybox.pack.js')
    script(src='../plugins/smoothscroll/SmoothScroll.min.js')
    script(src='../plugins/datepicker/bootstrap-datepicker.min.js')
    script(src='../plugins/bootstrap-notify/bootstrap-notify.min.js')
    script(src='../js/custom.js')
