doctype html
html(lang='en')
    head
        // SITE TITTLE
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Register Chef
        // PLUGINS CSS STYLE
        link(href='../plugins/jquery-ui/jquery-ui.min.css', rel='stylesheet')
        // Bootstrap
        link(href='../plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href='../plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // Select 2
        link(href='../plugins/selectbox/select_option1.css', rel='stylesheet')
        // Owl Carousel
        link(href='../plugins/owl-carousel/assets/owl.carousel.min.css', rel='stylesheet', media='screen')
        // Owl Carousel Theme
        link(href='../plugins/owl-carousel/assets/owl.theme.green.min.css', rel='stylesheet', media='screen')
        // Fancy Box
        link(href='../plugins/fancybox/jquery.fancybox.pack.css', rel='stylesheet')
        // Datepicker
        link(href='../plugins/datepicker/datepicker.min.css', rel='stylesheet')
        // CUSTOM CSS
        link(href='../stylesheets/style_HNH.css', rel='stylesheet')
        link(href='../stylesheets/uploadFile_KKY.css', rel='stylesheet')
        // FAVICON
        link(href='../img/favicon.png', rel='shortcut icon')

    body.body-wrapper
        //
          =====================================
          =            Top Header Menu            =
          ======================================
        include components/topHeader
        include components/navBar_KSW
        // Container End
        //
          ===============================
          =            Hero Area            =
          ================================
        section.hero-area.bg-5.text-center
            // Container Start
            .container(style='margin-bottom:160px ')
                .row
                    .col-lg-12.col-md-12.col-xs-12
                        // Header Contetnt
                        .content-block
                            h2 Become Ezcoook's Chef and raise your income
                            p
                                | Opportunity to cook and make money in our kitchen!
                                br
                                |  Register Now!!
                        .row
                            // Store Search
                            .col-lg-12.col-md-12.col-xs-12
                                .block.align-items-end.flex-column
                                    // Start Button
                                    .scrollbtn
                                        a(href='#scroll1', data-target='#scroll1')
                                            img(src='../img/register_chef/small_start_button.png', style='width: 180px;height:180px')
                .row
                    .content-block.col-lg-4.col-md-4(style='padding:50px')
                        h3 Why recommend Thor Ezcoook?
                        h6 Ezcppl can help you create your income easily and safely, regardless of the type of food.
                    .content-block.col-lg-4.col-md-4(style='padding:50px')
                        h3
                            | Decisions on resisting are made
                            br
                            |  at the chef's discretion.
                        h6 The chef decides on the availability date, price, rules of place use, and how to communicate with the guests in Ezcoook.
                    .content-block.col-lg-4.col-md-4(style='padding:50px')
                        h3 Strong support throughout operation
                        h6 Ezcoook can help you create your income easily and safely, regardless of the type of food.
        // Container End
        //
          ==========================================
          =            All Category Section            =
          ===========================================
        form(action='/seller/Register_Chef', method='post', enctype='multipart/form-data')
            section#scroll1.deals-categories.section
                // Container Start
                .container
                    .row
                        .col-12
                            // Section title
                            .section-title.scroll
                                h2 Verify your ID!
                            .row.border-bottom.justify-content-center
                                .page(style='margin-top: 10px;')
                                    // Our File Inputs
                                    .wrap-custom-file
                                        input#img_certi(type='file', name='imageIden', accept='.gif, .jpg, .png, .jpeg')
                                        label(for='img_certi')
                                            span UPLOAD
                                            i.fa.fa-plus-circle
                                    // End Page Wrap
                                .col-md-2.justify-content-center
                                    .form-group
                                        label(for='seller_age') Seller Age
                                        input#seller_age.form-control(type='text', name='age', width='30px', readonly='')
                                    .form-group
                                        label(for='seller_gen') Seller Sex
                                        input#seller_gen.form-control(type='text', name='gender', readonly='')
                // Container End

            section.popular-deals.section.border-bottom
                .container
                    .row
                        .col-md-12
                            .section-title
                                h2 Authenticate your cell phone!
                            .row.justify-content-center
                                h7 Phone Number
                                select#txtMobile1.form-control.col-md-1(name='mobile1')
                                    option(value='') Selection
                                    option(value='010') 010
                                    option(value='011') 011
                                    option(value='016') 016
                                    option(value='017') 017
                                    option(value='019') 019
                                h7 -
                                input#txtMobile2.form-control.col-md-1(type='text', name='mobile2', onkeypress='onlyNumber();')
                                h7 -
                                input#txtMobile3.form-control.col-md-1(type='text', name='mobile3')
                    .row.text-center
                        .col-12
                            a.btn.btn-main.mt-30(href='store-single.html', style='background-color:#80c269') Authenticate
            //
              ===========================================
              =            Popular deals section            =
              ============================================
            section.popular-deals.section.border-bottom
                .container
                    .row
                        .col-md-12
                            .section-title
                                h2 Enter the seller information!
                            .row.justify-content-center
                                h5 Please upload a picture to check your face .
                            .row.justify-content-center
                                .page(style='margin-top: 10px;')
                                    // Our File Inputs
                                    .wrap-custom-file
                                        input#img_idcard(type='file', name='imageFace', accept='.gif, .jpg, .png, .jpeg')
                                        label(for='img_idcard')
                                            span Select Image
                                            i.fa.fa-plus-circle
                                    // End Page Wrap
                                .col-md-4.justify-content-center
                                    label(for='seller_introduce') About Me
                                    textarea#seller_introduce.form-control(rows='5', name='text', cols='70', placeholder='')
            //
              ===========================================
              =            Popular deals section            =
              ============================================
            section.popular-deals.section
                .container
                    .row
                        .col-md-12
                            .section-title
                                h2 Register your store!
                            .row.justify-content-center
                                h5 Please enter the information of the your Store!!
                            .container
                                .row
                                    .col-md-8.offset-md-2
                                        // Store name
                                        .form-group
                                            label(for='store_name') Store Name
                                            input#store_name.form-control(type='text', name='shopName')
                                        // Store address
                                        .form-group
                                            label(for='store_add') Store Address
                                            .row
                                                .col-md-9
                                                    input#store_add.form-control(type='text', name='address', readonly='')
                                                    input#siNm(type='hidden', name='siNm', readonly='')
                                                    input#entX(type='hidden', name='x', readonly='')
                                                    input#entY(type='hidden', name='y', readonly='')
                                                .col-md-2
                                                    button.btn.btn-main(type="button", onclick='goPopup()') Address search
                                        // Introduce Store
                                        .form-group.mb-30
                                            label(for='store_intro') Stpre Introduction
                                            textarea#store_intro.form-control(rows='5', name='shopText', cols='100', placeholder='')
                                        .form-group.mb-30.row
                                            div(style='margin-right:10px;')
                                                input#checkbox1(type='checkbox', name='optionDelivery', checked='checked', style='margin-left:15px', value='on')
                                                label(for='checkbox1') Delivery
                                            div(style='margin-right:10px;')
                                                input#checkbox2(type='checkbox', name='optionPacking', value='on')
                                                label(for='checkbox2') Packing
                                            div(style='margin-right:10px;')
                                                input#checkbox3(type='checkbox', name='optionVisit', value='on')
                                                label(for='checkbox3') Visit
                                        .form-group.mb-30
                                            label(for='oper_time') Opening hours
                                            .row
                                                #oper_time.btn-group(data-toggle='buttons', style='margin:auto;')
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionMon', value='on')
                                                        | Mon
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionTues', value='on')
                                                        | Tue
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionWen', value='on')
                                                        | Wed
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionThur', value='on')
                                                        | Thu
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionFri', value='on')
                                                        | Fri
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionSat', value='on')
                                                        | Sat
                                                    label.btn-sm.btn.btn-week
                                                        input(type='checkbox', autocomplete='off', name='optionSun', value='on')
                                                        | Sun
                                                .row.col-md-3.justify-content-center
                                                    input#txtopertime1.form-control.col-md-5(type='text', onkeypress='onlyNumber();', name='optionTime1')
                                                    h5(style='margin-top:10px') :
                                                    input#txtopertime2.form-control.col-md-5(type='text', name='optionTime2')
                                            .form-group.row.col-md-12
                                                label.control-label.requiredField.label-title Store image
                                                .page.justify-content-center(style='margin-top: 10px;')
                                                    // Our File Inputs
                                                    .wrap-custom-file
                                                        input#image1(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image1')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    .wrap-custom-file
                                                        input#image2(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image2')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    .wrap-custom-file
                                                        input#image3(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image3')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    .wrap-custom-file
                                                        input#image4(type='file', name='imageStore', accept='.gif, .jpg, .png, .jpeg')
                                                        label(for='image4')
                                                            span Select Image
                                                            i.fa.fa-plus-circle
                                                    // End Page Wrap
            .row.text-center
                .col-md-12.col-lg-12
                    button.btn.btn-main.mt-30(onclick='submit', style='background-color:#22ac38') REGISTER

        include components/footer_KSW

        script(src='../plugins/jquery/jquery.min.js')
        script(src='../plugins/jquery-ui/jquery-ui.min.js')
        script(src='../plugins/tether/js/tether.min.js')
        script(src='../plugins/raty/jquery.raty-fa.js')
        script(src='../plugins/bootstrap/js/bootstrap.min.js')
        script(src='../plugins/selectbox/jquery.selectbox-0.1.3.min.js')
        script(src='../plugins/owl-carousel/owl.carousel.min.js')
        script(src='../plugins/fancybox/jquery.fancybox.pack.js')
        script(src='../plugins/smoothscroll/SmoothScroll.min.js')
        script(src='../plugins/datepicker/bootstrap-datepicker.min.js')
        script(src='../plugins/bootstrap-notify/bootstrap-notify.min.js')
        script(src='../js/custom.js')
        script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
        script(src='../js/register_HNH.js')
        script(src='../js/UploadFile_KSW.js')
        script(src='../js/MenuSubmit_KSW.js')
        script(src='../js/juso/juso_GSH.js')
        script(src='../plugins/proj4js/proj4js-combined.js')